{erl_opts, [warnings_as_errors, debug_info,
            {platform_define, "^R1[56]", only_builtin_types}]}. %% Ref: OTP commit b66e75c]}.

{deps,
 [{edown, ".*", {git, "https://github.com/uwiger/edown", {branch, "master"}}}]}.

{edoc_opts,
 [{doclet, edown_doclet},
  {app_default, "http://www.erlang.org/doc/man"},
  {top_level_readme, {"./README.md", "https://github.com/iamaleksey/seestar"}}]}.

{xref_checks, [undefined_function_calls]}.

{cover_enabled, true}.
{cover_print_enabled, true}.
