{erl_opts, [warnings_as_errors, debug_info]}.

{deps,
 [{edown, ".*", {git, "https://github.com/esl/edown.git", {branch, "master"}}}]}.

{edoc_opts,
 [{doclet, edown_doclet},
  {app_default, "http://www.erlang.org/doc/man"},
  {top_level_readme, {"./README.md", "https://github.com/iamaleksey/seestar"}}]}.
